/* Put your custom styles here and run `npm start` from the "src" directory on */

#TableOfContents ul li {
  margin-bottom: 1em;
}

.lh-copy blockquote {
  display: block;
  font-size: .875em;
  margin-left: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  border-left: 4px solid #ccc;
  padding-left: 1rem;

}

.nested-links a{
  overflow-wrap: break-word;
}
.mar-right {
  margin-right: 10px;
}
.btn-more {
  padding: 10px;
  color: #ccc;
  font-size: 12px;
  text-transform: capitalize;
}
.logo-navigation {
  padding: 15px;
  border-radius:50%;
  background-color: beige;
  color: black;

}
.nav-menu {
  color: beige;
  font-size: 1.2em;
}
.beige-color {
  color: beige;
}